@charset "UTF-8";

.card{
    background-color: lightgray;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.3s;
}
.card h1{
    color: blue;
    margin-bottom: 10px;
}
.card p{
    margin: 5px 0;
}
.card:hover{
    background-color: pink;
}
